<div id="<%= dom_id user %>">
  <tr>
    <td>
      <%= user.first_name %>
    </td>
    <td>
      <%= user.last_name %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.phone %>
    </td>
    <td>
      <%= link_to "Show this user", user %>
    </td>
  </tr>
</div>
